/* root */

/* font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Rubik', sans-serif; */

/* Main */

html {
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: yellow;
}

body {
    margin: 0%;
    padding: 0%;
    max-width: 100vw;
}

h1 {
    font-size: 19vw;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    line-height: 0.95;
    letter-spacing: 1.5rem;

    color: black;
    text-shadow: -3px -4px 0 yellow, 4px -3px 0 yellow, -4px 4px 0 yellow, 4px 4px 0 yellow;
}

h2 {
    color: yellow;
    font-family: 'Montserrat Subrayada';
    font-size: 1rem;
    -webkit-filter: grayscale(45%); 
    filter: grayscale(45%); 
}

h3 {
    color: yellow;
    font-family: 'Rubik Black', sans-serif;
    font-size: 2.75rem;
    font-weight: bold;
    padding-bottom: 3%;
}

h4 {
    color: yellow;
    font-family: monospace;
    -webkit-filter: grayscale(20%); 
    filter: grayscale(20%); 
}

h5 {
    color: yellow;
    font-family: 'Rubik Black', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    color: yellow;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.75;
    font-size: 1.175rem;
    -webkit-filter: grayscale(75%); 
    filter: grayscale(75%); 
}


/* Background */

#background {
    background-color: black;
}

.bulan {
    width: 80vw;
    position: absolute;
    
    left: 11%;
    top: 73vh;

    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

/* Title Page */

#title-page {
    background-color: black;
}   

.container-fluid {
    background-color: black;
    padding: 0%;
    height: 100.1vh;

}

.title-box {
    padding-top: 13%;
    padding-bottom: 5%;
}


/* About Page */

.book-silhouette {
    width: 100.1vw;
    position: absolute;
    top: 38vh;

    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

#about-page {
    background-color: #222222;
    height: 100vh;
    padding-top: 3%;
    z-index: 1;
}

.about-desc {
    margin-top: 10%;
    margin-bottom: 5%;
}

.about-desc.col-lg-3 {
    padding-left: 3%;
}

.about-desc.col-lg-9 {
    padding-top: 1.5%;
}

.profile-picture {
    width: 16vw;
    height: 16vw;

    margin-left: auto;
    margin-right: auto;

    border: 5px solid;
    border-color: yellow;
    border-radius: 100%;

    -webkit-filter: grayscale(50%); 
    filter: grayscale(50%);
}

.profile-picture:hover {
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}



/* Resume Page */

#resume-page {
    background-color: #333333;
    height: 90vh;
    padding-top: 2%;
}

.resume.container {
    width: 50%;
}

.slider-items {
    padding: 5%;
}

.resume-image {
    margin: auto;
    height: 50vh;
    width: 50vh;
}

.carousel-control-prev {
    padding-right: 10%;
}

.carousel-control-next {
    padding-left: 5%;
}


/* Contacts */

#contacts-page-headline {
    background-color: black;
    height: 10vh;
    padding-top: 1%;
}

#contacts-page {
    background-color: black;
    height: 20vh;
    padding-top: 1%;
}

.contacts-container {
    padding-left: 15%;
    padding-right: 15%;
}

.contacts-icons {
    padding-top: 6%;
}

.contacts-icon {
    color: yellow;
    filter: saturate(-40%);
    filter: grayscale(20%);
}



/* Footer */

#footer-page {
    background-color: black;
    height: 11vh;
    padding-top: 3%;
}