<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'landingpage/style.css' %}">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Rubik|Rubik+Mono+One&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/a5686a1bdd.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{% static 'landingpage/images/favicon-moon-ico.png' %}" type="image/x-icon">
    <title>badi's very own website</title>
</head>

<body>

    <div id="fullpage">

        <div class="section active">

                <!-- Title Page -->
                <section id="title-page">
    
                    <div class="container-fluid">
    
                        <!-- Space Objects -->
                        <img class="bulan" src="{% static 'landingpage/images/bulan.png' %}" alt="bulan">

                        <div class="container text-center">
                            <div class="row">
                                <div class="title-box col-lg-12">
                                    <h1>BADI</h1>
                                    <h4>an internet-web facade of Fahdii Ajmalal Fikrie</h4>
                                </div>
                            </div>
                        </div>
                
                    </div>
    
                </section>
    
        </div>
        


        <div class="section">

                <!-- About Page -->
                <section id="about-page">
                    <img class="book-silhouette" src="{% static 'landingpage/images/bbw-footer.jpg' %}" alt="book-silhouette">

                    <div class="container text-center">
                        <div class="row">
                            <div class="about-desc col-lg-3">
                                <img class="profile-picture" src="{% static 'landingpage/images/profile_picture.jpg' %}" alt="pp">
                            </div>

                            <div class="about-desc col-lg-9">
                                <h3>brief description about badi</h3>
                                <p><em>Fahdii is a 19yo currently majoring Computer Science at the University of Indonesia <br>
                                He is very passionate when it comes to taking nap and listening to music <br>
                                oh, and he also loves spending his time watching movies <br>
                                especially the thriller/mystery ones</em></p>
                            </div>
                        </div>                        
                    </div>

                </section>

        </div>




        <div class="section fp-auto-height">

                <!-- Resume Page -->
                <section id="resume-page">
                    <div class="container text-center">
                        <!-- <h3>help a brother in need!</h3> -->
                        <h3>story 1 prerequisites</h3>

                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="slider carousel-inner">

                              <div class="carousel-item active">
                                
                                <div class="container row">
                                    
                                    <div class="slider-items card bg-dark col-sm-6">
                                        <img class="resume-image card-img-top" src="{% static 'landingpage/images/favicon-moon.png' %}" alt="bulan">
                                    </div>

                                    <div class="slider-items card bg-secondary col-sm-6">
                                        <div class="resume-desc">
                                            <br>
                                            <h5>FULL NAME</h5>
                                            <p>fahdii ajmalal fikrie</p> <br> <br>
                                            <h5>STUDENT ID NUMBER</h5>
                                            <p>1906398370</p> <br> <br>
                                            <h5>MAJOR/PROGRAM</h5>
                                            <p>computer science</p>
                                        </div>
                                    </div>

                                </div>

                              </div>

                              <div class="carousel-item">
                                                    
                                <div class="container row">
                                    
                                    <div class="slider-items card bg-dark col-sm-6">
                                        <img class="resume-image card-img-top" src="{% static 'landingpage/images/favicon-moon2.png' %}" alt="bulan">
                                    </div>

                                    <div class="slider-items card bg-secondary col-sm-6">
                                        <div class="resume-desc">
                                            <br>
                                            <h5>HOBBIES</h5>
                                            <p>sleeping and watching anime 😈</p> <br> <br>
                                            <h5>INTERESTS</h5>
                                            <p>web programming and data analytics</p> <br> <br>
                                            <h5>FUTURE EXPECTATIONS</h5>
                                            <p>i aspire to be on the same level with the tokis</p>
                                        </div>
                                    </div>
                                </div>

                              </div>

                              <div class="carousel-item">
                                                                
                                <div class="container row">
                                    
                                    <div class="slider-items card bg-dark col-sm-6">
                                        <img class="resume-image card-img-top" src="{% static 'landingpage/images/favicon-moon3.png' %}" alt="bulan">
                                    </div>

                                    <div class="slider-items card bg-secondary col-sm-6">
                                        <div class="resume-desc">
                                            <h3>EDUCATION</h3>
                                            <span style="text-align: left;">
                                                <h5 style="font-size: 1.25rem; padding-top: 0.5%;">Computer Science, <br> University of Indonesia</h5>
                                                <p>2019  –  now</p>
                                            </span>

                                            <span style="text-align: right;">
                                                <h5 style="font-size: 1.25rem; padding-top: 0.5%;">Civil Engineering, <br> University of Indonesia</h5>
                                                <p>2018  –  2019</p>
                                            </span>

                                            <span style="text-align: left;">
                                                <h5 style="font-size: 1.25rem; padding-top: 0.5%;">State Senior High School <br> SMAN 2 Depok</h5>
                                                <p>2015  –  2018</p>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                              </div>

                            </div>


                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    
                    </div>
                </section>

                <!-- Contacts Page -->
                <section id="contacts-page-headline">
                    <div class="container text-center">
                        <h3>get to know more about me!</h3>
                    </div>
                </section>

        </div>
    


        <div class="section fp-auto-height">

                <!-- Contacts Page -->
                <section id="contacts-page">
                    <div class="container contacts-container text-center">
                        <!-- <h3>get to know more about me</h3> -->

                        <div class="contacts-icons row">
                            <div class="col-sm-2">
                                <a class="contacts-icon" href="http://www.twitter.com/fahdikrie" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter-square fa-4x"></i></a>
                            </div>
    
                            <div class="col-sm-2">
                                <a class="contacts-icon" href="http://www.instagram.com/fahdikrie" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram fa-4x"></i></a>
                            </div>
    
                            <div class="col-sm-2">
                                <a class="contacts-icon" href="http://open.spotify.com/user/fahdikrie" target="_blank" rel="noopener noreferrer"><i class="fab fa-spotify fa-4x"></i></a>
                            </div>
                            
                            <div class="col-sm-2">
                                <a class="contacts-icon" href="http://www.letterboxd.com/fahdikrie" target="_blank" rel="noopener noreferrer"><i class="fas fa-film fa-4x"></i></a>
                            </div>

                            <div class="col-sm-2">
                                <a class="contacts-icon" href="https://www.goodreads.com/user/show/100267901-fahdii-ajmalal-fikrie" target="_blank" rel="noopener noreferrer"><i class="fab fa-goodreads fa-4x"></i></a>
                            </div>

                            <div class="col-sm-2">
                                <a class="contacts-icon" href="http://github.com/fahdikrie" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-square fa-4x"></i></a>
                            </div>
                        </div>
                        
                    </div>
                </section>

                <!-- Footer -->
                <section id="footer-page">
                    <div class="container text-center">
                        <h4><i class="fa fa-copyright fa-sm" aria-hidden="true"></i> Fahdii Ajmalal Fikrie | 2020</h4>
                    </div>
                </section>
                <!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.min.js"></script>

</body>

    <script>
        new fullpage('#fullpage', {
            //options here
            autoScrolling:true,
            scrollHorizontally: true,
            navigation: true,
            slidesNavPosition: "yellow"
        });
    </script>

    <script>
        $('.carousel').carousel()
    </script>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>